<h2>You're looking at @Model.GetName()</h2>

<img id="dogpic" src="/img/dog.jpg" alt="This is @Model.GetName()">

<p>Isn't @Model.GetName() such a good dog?</p>

<h4><a href="/dogs/edit/@Model.GetId()">Edit this dog</a></h4>
<h4><a href="/dogs/delete/@Model.GetId()">Delete this dog</a></h4>
<hr>
<p><a href="/dogs">GO HOME BOY</a></p>
