<h2>You're looking at @Model.GetName()</h2>

<img id="dogpic" src="/img/dog.jpg" alt="This is @Model.GetName()">

<p>Isn't @Model.GetName() such a good dog?</p>

<p><a href="/dogs">GO HOME BOY</a></p>
