<h3>Edit @Model.GetName()</h3>

<form action="/dogs/edit/@Model.GetId()" method="post">
  <label for="newname">New Dog Name:</label>
  <input type="text" name="newname" value="@Model.GetName()">
  <button type="submit" name="button">Edit Name</button>
</form>
