<h2>List of Dogs</h2>
<ul>
  <li>Dog 1</li>
</ul>
<p><a href="/">GO HOME BOY</a></p>
<form action="/newdog" method="post">
  <label for="dogname">New Dog Name</label>
  <input type="text" name="dogname" placeholder="Enter new dog name">
  <button type="submit" name="button">ADD DOG</button>  
</form>
