<h2>List of Dogs</h2>
<ul>
  @foreach(var dog in Model)
  {
    <li>@dog.GetName() | <a href="/dogs/@dog.GetId()">Details</a></li>
  }
</ul>
<p><a href="/">GO HOME BOY</a></p>
<form action="/newdog" method="post">
  <label for="dogname">New Dog Name</label>
  <input type="text" name="dogname" placeholder="Enter new dog name">
  <button type="submit" name="button">ADD DOG</button>
</form>
