@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
  <h2>This is the title</h2>
  <p>This is some text</p>
  <ul>
    <li>This is an item</li>
    <li>This is another item</li>
    <li>This is the last item</li>
  </ul>

  <h4>This is the text at the bottom</h4>
  <p><a href="/dogs">DOG LIST</a></p>
</div>
