@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
  <div class="container text-center">

  <h2>Welcome to the DogList!</h2>
  <p>This is the home to all good dogs.</p>

  <h4>PREPARE TO VIEW DOGS!</h4>
  <hr>
</div>
  <div class="container text-center">
    <form action="/dogs" method="get">
      <button class="btn btn-info" type="submit" name="button">GO TO DOGS</button>
    </form>
  </div>
</div>
<div class="container text-center">
  <img id="mainimg" src="/img/Dog_Chew.jpg" alt="a cute dog">
</div>
