@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
  <h2>Welcome to the DogList!</h2>
  <p>This is the home to all good dogs.</p>

  <h4>PREPARE TO VIEW DOGS!</h4>
  <hr>
  <div class="text-center">
    <form action="/dogs" method="get">
      <button class="btn btn-info" type="submit" name="button">GO TO DOGS</button>
    </form>
  </div>
</div>
